extends layout

block content
  h1= title
  p Welcome to #{title}
  -if(flag == 1)
    .alert.alert-danger(role="alert") #{message}
  -if(flag == 2)
    .alert.alert-success(role="alert") #{message}
  .row 
    .col-sm-1 
    .col-sm-4
      include include/login 
    .col-sm-2
    .col-sm-4
      include include/registration 
    .col-sm-1 
     